body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 300px;
  margin: 50px auto;
}

.title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 5px;
  flex-direction: column;
  column-width: 20px;
}

.form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 14px;
}

.contact {
  display: flex;
  flex-direction: column;
  color:black;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  background-color: aliceblue;
}

.contact a {
  text-decoration: none;
  color: black !important;
}

.contact a:hover {
  background-color:dodgerblue;
  color: white !important;
}

.add-btn {
 
  color: black;
  text-decoration: none;
  cursor:grab;
}

.add-btn:hover {
background-color: dodgerblue;
color: white;
 }

.delete-btn {
color: black;
 }

.delete-btn:hover {
background-color: red;
cursor:grab;
color: white;
border: black;
 }

 h1 {
  text-align: center;
 }

 .search-bar {
 display: block !important;
 margin: 20px auto !important;
}

.submit-btn {
  cursor:grab;
}

.submit-btn:hover {
background-color: dodgerblue;
color: white;
 }

